@* <body class="principal"></body> *@
@{
    ViewData["Title"] = "Home Page";
}

<body class="fundo">

    @* <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> *@


    <div style="width:105%">
        <img src="/imagens/LegiaoKMusicPrincipal.png" class=" principal" style="max-width:100%; min-width:30%">

    </div>
    <div class="apoie" style="width:100%">
        @* <iframe src="https://www.vozdascomunidades.com.br/favelas/projeto-social-cria-vakinha-online-para-realizar-evento-geek-na-favela-do-fumace-saiba-como-ajudar/" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> *@
        <br />
        <br />
        <h3> Para que nossa 1ª Edição do LKM seja possível precisamos de apoio para que esse dia seja incrível ! <br />Na favela tem talentos e podemos ser além do que os noticiários de violência carioca. <br /> <br /> Chave Pix: legiaokmusic@gmail.com </h3>
        <br /><a href="https://www.vakinha.com.br/3991076" target="_blank"><button type="button" class="btn btn-lg btn-primary" style="background-color: #FF66C4" id="botao">Doe</button></a>

    </div>
    </br>
    </br>
    </br>

    <div class="container text-center my-3">
        <h2 class="font-weight-light">Bootstrap Multi Slide Carousel</h2>
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="/imagens/lampiao.png" class="img-fluid flex">
                                </div> <div class="card-img-overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400/e66?text=2" class="img-fluid flex">
                                </div>
                                <div class="card-img-overlay">Slide 2</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 3</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"> <img src="//via.placeholder.com/500x400?text=4" class="img-fluid"> </div>
                                <div class="card-img-overlay">Slide 4</div>
                            </div>
                        </div>
                    </div> <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img">
                                    <img src="//via.placeholder.com/500x400/aba?text=5" class="img-fluid">
                                </div>
                                <div class="card-img-overlay">Slide 5</div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img"> <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid"> </div>
                                <div class="card-img-overlay">Slide 6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div> <h5 class="mt-2 fw-light">advances one slide at a time</h5>
    </div>


    <button type="button" class="btn btn-primary" onclick="oi()" >Primary</button>

    <script>

        let items = document.querySelectorAll('.carousel .carousel-item')

        items.forEach((el) => {
            const minPerSlide = 6
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })
        
       function oi(){

            window.location.href = "/contato";
       }

    </script>











    <div class="container" id="trasnporte" style="max-width:100%; min-width:30%">
        <div class="row">
            <div class="col-6" id="informacoes">
                </br>
                </br>


                <h1 class="informacao">Como Chegar</h1>

                </br>


                <h6> Quem vem de Campo Grande, Santa Cruz e região:</h6>

                <h7>
                    <a target="_blank" href="https://maps.app.goo.gl/pgiqAPpDDsPSnqfM8">Trem Ramal Santa Cruz : Soltar na Estação de Realengo.* Pegar Aplicativo de transporte ou Mototaxi</a><br />


                    <h6> Quem vem de Campo Grande, Santa Cruz e região de Ônibus:</h6>

                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> Vans e ônibus que vão para o Metrô de Coelho Neto.<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> 731 - Campo Grande x Marechal Hermes .<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> 397 - Campo Grande x Candelária.<br /> </a>
                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> 790  - Campo Grande x Cascadura.<br /></a>
                </h7><br />


                <h6>  Quem vem da Zona Norte ou Centro (Trem Ramal Santa Cruz): </h6>

                <h7>
                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">Soltar na Estação de Magalhães Bastos ( Pegar Moto ou Aplicativo) : Estrada da Água Branca 988 - Realengo.<br /></a><br />

                    <h6>  Quem vem da Zona Norte ou Centro de Ônibus : </h6>

                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">397 - Candelária x Campo Grande .<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">790 - Cascadura x Campo Grande .<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">369 - Candelária x Bangu .<br /></a>
                </h7>

            </div>
            <div class="col-6" id="mapa">
                <br />
                <br />
                <h1 class="kpop">Localização</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.2480976531924!2d-43.427362624690886!3d-22.86729177928291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x996113e1425fc5%3A0xa346b647345d4fbc!2sQuadra%20do%20Fumac%C3%AA%20-%20Realengo!5e0!3m2!1spt-BR!2sbr!4v1696260432681!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>
</body>