@* <body class="principal"></body> *@
@{
    ViewData["Title"] = "Home Page";
}

<body class="fundo">
    <div style="width:105%">
        <img src="/imagens/LegiaoKMusicPrincipal.png" class=" principal" style="max-width:100%; min-width:30%">

    </div>
    <div class="apoie" style="width:100%">
        @* <iframe src="https://www.vozdascomunidades.com.br/favelas/projeto-social-cria-vakinha-online-para-realizar-evento-geek-na-favela-do-fumace-saiba-como-ajudar/" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> *@
        <br />
        <br />
        <h3> Para que nossa 1ª Edição do LKM seja possível precisamos de apoio para que esse dia seja incrível ! <br />Na favela tem talentos e podemos ser além do que os noticiários de violência carioca. <br /> <br /> Chave Pix: legiaokmusic@gmail.com </h3>
        <br /><a href="https://www.vakinha.com.br/3991076" target="_blank"><button type="button" class="btn btn-lg btn-primary" style="background-color: #FF66C4" id="botao">Doe</button></a>

    </div>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>




    <div class="carousel" data-flickity='{ "autoPlay": true }'>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
    </div>

   

















    <div class="container" id="trasnporte" style="max-width:100%; min-width:30%">
        <div class="row">
            <div class="col-6" id="informacoes">
                </br>
                </br>


                <h1 class="informacao">Como Chegar</h1>

                </br>


                <h6> Quem vem de Campo Grande, Santa Cruz e região:</h6>

                <h7>
                    <a target="_blank" href="https://maps.app.goo.gl/pgiqAPpDDsPSnqfM8">Trem Ramal Santa Cruz : Soltar na Estação de Realengo.* Pegar Aplicativo de transporte ou Mototaxi</a><br />


                    <h6> Quem vem de Campo Grande, Santa Cruz e região de Ônibus:</h6>

                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> Vans e ônibus que vão para o Metrô de Coelho Neto.<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> 731 - Campo Grande x Marechal Hermes .<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> 397 - Campo Grande x Candelária.<br /> </a>
                    <a target="_blank" href="https://maps.app.goo.gl/eMCrCvpWZ54U6AVV7"> 790  - Campo Grande x Cascadura.<br /></a>
                </h7><br />


                <h6>  Quem vem da Zona Norte ou Centro (Trem Ramal Santa Cruz): </h6>

                <h7>
                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">Soltar na Estação de Magalhães Bastos ( Pegar Moto ou Aplicativo) : Estrada da Água Branca 988 - Realengo.<br /></a><br />

                    <h6>  Quem vem da Zona Norte ou Centro de Ônibus : </h6>

                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">397 - Candelária x Campo Grande .<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">790 - Cascadura x Campo Grande .<br /></a>
                    <a target="_blank" href="https://maps.app.goo.gl/YmgyEW4FTtHL5vz77">369 - Candelária x Bangu .<br /></a>
                </h7>

            </div>
            <div class="col-6">
                <br />
                <br />
                <h1 class="kpop">Localização</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.2480976531924!2d-43.427362624690886!3d-22.86729177928291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x996113e1425fc5%3A0xa346b647345d4fbc!2sQuadra%20do%20Fumac%C3%AA%20-%20Realengo!5e0!3m2!1spt-BR!2sbr!4v1696260432681!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>
</body>